.controlsContainer {
  display: flex;
  justify-content: center;
  margin: 0.5em 1em 1em 1em;
}

.button {
  color: white;
  font-weight: bold;
  margin: 0 0.5em;
  padding: 1em;
  width: 30%;
  background: black;
  outline: none;
  border: 5px solid white;
  border-radius: 15px;
  box-shadow: 0px 1px 10px rgb(0, 0, 0);
  text-align: center;
}

@media (hover: hover) {
  .button:hover {
    color: black;
    background: white;
    border: 5px solid black;
  }
}

.button:disabled {
  color: gray;
  background: rgb(60, 60, 60);
  border: 5px solid gray;
}