.handContainer {
  color: white;
  min-height: 40vh;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}