.handContainer {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0.5em
}

.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  text-align: center;
}